* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsla(228, 100%, 84%, 0.2);
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: "Ubuntu", sans-serif;
}
p {
  color: grey;
}
.flex,
.flex-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.flex-col {
  flex-direction: column;
}
.App {
  min-height: 70vh;
  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem;
}

@import "./nav";
@import "./info";